/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   * {
    font-family: 'Lora', serif;
  }
   html,body{ 
       width:100%;
       height:100%;
       background:#111;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
   }
   
   canvas{
    z-index: -1;
   }
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #111; /* Set the background color */
     background-image: url(''); /* Set the background image if needed */
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat; 
    
   }
   
   body {
     font-family: Arial, sans-serif;
     background-color: #ffffff;
     color: #333;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
   }
   
   main {
     flex: 1;
   }
   
   a {
     color: #ff0000;
   }
   header {
    z-index: 1;
   }
   nav{
    background-color: #89aeaf7e;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px
    

  }
  nav li{
    background-color: #89aeaf7e;
    height: 50px;
  }
  nav a{
    background-color: #89aeaf7e;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    z-index: 2;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
   
   .container {
     position: relative;
     margin: 20px auto;
     padding: 20px;
     background-color: #6caaac;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     width: auto; /* Adjust width to fit content */
     height: auto; /* Adjust height to fit content */
     max-width: 75%; /* Optional: Limit the maximum width */
   }
   
   ul {
    background-color: #6caaac;
     list-style-type: none;
     padding: 0;
   }
   
   ul li {
     background-color: #6caaac;
     border-radius: 5px;
   }
   
   ul li h2 {
     margin: 0;
     color: #3498db;
   }
   
   ul li p {
     margin: 5px 0 0;
   }
   
   form {
     margin-top: 20px;
   }
   
   form div {
     margin-bottom: 15px;
   }
   
   form label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
   }
   
   form input[type="text"],
   form textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
   }
   
   ul.errors {
     list-style-type: none;
     padding: 0;
     color: red;
   }
   
   ul.errors li {
     margin: 5px 0;
   }
   
   footer {
    
     z-index: 1;
     background-color: #89aeaf7e;
     color: #fff;
     text-align: center;
     bottom: 0;
     width: 100%;
   }
   .btn.btn-primary {
     background-color: #3498db;
     color: #fff;
     border: none;
     padding: 3px 20px;
     border-radius: 5px;
     cursor: pointer;
   }
   .btn.btn-primary:hover {
     background-color: #3498db85;
     color: #ff0000;
   }