extends layout

block content
  .container
    h1= title
    if user
      p Welcome to your agenda, #{user.first_name} #{user.family_name}. Here, you can view and manage your upcoming activities.
    else
      p Welcome to your agenda. Here, you can view and manage your upcoming activities.

  div#calendar(style="margin: 40px 0; height: 600px;")

  //- Include FullCalendar dependencies (updated paths)
  script(src="/fullcalendar/core/index.global.min.js")
  script(src="/fullcalendar/daygrid/index.global.min.js")
  
  //- Add some basic styling for the calendar
  style.
    #calendar {
      position: relative; 
      z-index: 0;
      margin: 0 20px;
      padding: 20px;
      flex: 1;
    }
    .fc-event-title, .fc-event-time {
      color: white !important; // Change the text color of the event titles and times
    }

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        height: 'auto',
        events: !{JSON.stringify(agendaItems)}, eventColor: '#378006'
      });
      calendar.render();
    });