doctype html
html
    head
        title Welcome to Bucket List Website
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Welcome to Your Bucket List
        main
            p This is the place to keep track of all the things you want to do in your life.
            a(href='/bucketlist') View Your Bucket List
        footer
            p &copy; 2024 Bucket List Website