doctype html
html
    head
        link(rel='icon', href='/images/websitebucketlist.png', type='image/png')

        title Welcome to Bucket List Website
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Welcome to Bucket List Website
        main
            p Please log in to access your bucket list.
            a(href='/login') Log In
        footer
            p &copy; 2024 Bucket List Website, Made by Us 